:root
{
    --ion-background-color: var(--ion-color-dark);
    --ion-text-color: #fff;
    --ion-tab-bar-background: var(--ion-color-primary);
    ion-tab-button 
    {
        --color-selected: var(--ion-color-secondary);
    }
    --ion-text-color-rgb: 255, 255, 255;
    ion-card 
    {
        --color: #fff;
    }
    ion-item 
    {
        --border-color: var(--ion-color-light);
        --detail-push-color: var(--ion-color-light);
    }
    --ion-background-color: var(--ion-color-dark);
    --ion-text-color: #fff;
    --ion-tab-bar-background: var(--ion-color-primary);
    ion-tab-button 
    {
        --color-selected: var(--ion-color-secondary);
    }
    --ion-text-color-rgb: 255, 255, 255;
    ion-card 
    {
        --color: #fff;
    }
    ion-item 
    {
        --border-color: var(--ion-color-light);
        --detail-push-color: var(--ion-color-light);
    }
}